@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
